---
import MainLayout from "../../layouts/MainLayout.astro";
import { posts } from "../../data";
import PostCard from "../../components/PostCard.astro";
---

<MainLayout
  title="IE Soledad Román de nuñez - Actividades de investgacion"
  desc="Blog donde se muestran las actividades de investigacion"
>
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">Nuevas actividades</h1>
    <div class="post-container">
      {posts.map((post) => <PostCard {post} tagType="h2" />)}
    </div>
  </section>
</MainLayout>
