---
import MainLayout from "../../layouts/MainLayout.astro";
import Link from "../../components/Link.astro";
---

<MainLayout
  title="Sobre nosotros | IE Soledad Román de nuñez"
  desc="Sobre nosotro"
>
  <section class="container about" aria-label="About Me">
    <img src="/logo.png" alt="descriptive text" loading="lazy" />
    <div class="content">
      <h1 class="h1">Inclusión en la escuela: Prototipos y estrategias para construir conocimiento científico</h1>
      <p>
        Con los avances y el uso de las nuevas tecnologías el desarrollo de
        herramientas en la escuela, han tenido una gran acogida para la
        población inedsorista, como es el uso de la robótica y pensamiento
        computacional, estrategias que han desarrollado habilidades y destrezas
        en la población con limitaciones auditivas de la institución
        desarrollando competencias STEM. Con una muestra de la población no
        oyente se implementó una investigación mixta desde lo cuasiexperimental,
        hasta comprobar que las estrategias y herramientas que hacen
        experiencias significativas facilitan recursos únicos al momento de
        hacer facilitadores desde y fuera del aula, la implementación de las
        estrategias de aprendizajes inclusivos, crear estrategias de aprendizaje
        visual, fichas educativas ilustradas que faciliten pensamientos
        computacional, herramientas que en conjunto con el método científico y
        la lógica matemática facilitan la solución de problemas y el
        funcionamiento de la realidad.
      </p>
      <Link
        href="https://iesoledadromandenunez.edu.co/"
        style="primary"
        text="Pagina oficial"
        target="_blank"
        rel="noopener noreferrer"
      />
    </div>
  </section>
</MainLayout>
