---
interface Props {
  text: string;
  href: string;
  style: "primary" | "secondary";
  isFilled?: boolean;
  borderVisible?: boolean;
  classes?: string;
  target: string;
  rel: string;
}

const {
  text,
  href,
  style,
  isFilled = true,
  borderVisible = false,
  classes,
  target = "",
  rel = "",
  ...rest
} = Astro.props;
---

<a
  href={href}
  class:list={[
    "link",
    classes,
    style,
    { filled: isFilled, bordered: borderVisible },
  ]}
  target={target},
  rel={rel}
  {...rest}
>
  <span>{text}</span>
</a>
<!-- <a href="http://" target="_blank" rel="noopener noreferrer"></a> -->
